div.ui-slider-switch {
    margin: 6px 10px 10px 0 !important;
    position: absolute;
    right: 0;
    top: 0;
}

.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none ;
}


.ui-btn-up-c, .ui-btn-down-c, .ui-btn-active, 
.ui-btn-hover-a a:hover {
  font-weight: normal;
}

span.if, span.then {
  font-weight: bold;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 120ms !important;
}

